 body {
      background-color: #ffffe0;
    }

    strong {
      color: blue;
      text-decoration: underline;
    }

    h1 {
      color: orange;
      text-align: center;
    }

    em {
      color: red;
    }

    p {
      font-size: 24px;
    }

    .details {
      color:  gray;
    }

    #last {
      text-decoration: underline;
    }