    table {
      width: 684px;

      border: 4px solid black;
      padding: 10px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 28px;
    }

    tr.border-bottom td {
      border-bottom: 2px solid black;
    }

    tr.large-section td {
      border-bottom: 25px solid black;
    }

    th {
      width: 100%;
      font: 5.89rem "Franklin Gothic Heavy", Arial, sans-serif;
      padding: 0px;
      border: 0px;
    }

    td {
      width: 60%;
      padding: 0px;
      border-left: 0px;
      border-right: 0px;
    }

    td:nth-of-type(even) {
      width: 40%;
      text-align: right;
    }

    ul {
      list-style-type: none;
      padding-left: 40px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    dl {
      list-style-type: none;
    }

    strong {
      font-family: "Helvetica Black", "Arial Black", sans-serif;
    }

    table tr td table {
      width: 656px;
      height: 300px;
      border-style: none;
      font-size: 1.5rem;
      padding-top: 20px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    table tr td table td {
      border-bottom: 0px;
    }

    table tr td table td:nth-child(2) {
      text-align: left;
    }